li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.nav_logo {
  margin: 20px;
}

.nav_logo img {
  width: 130px;
  height: 24px;
}

.nav_menu {
  display: flex;
}

.nav_menu li {
  margin: 30px;
  font-size: 25px;
  font-weight: 700;
}

.nav_user {
  display: flex;
  align-items: center;
}

.nav_user li {
  margin: 5px;
  font-weight: 350;
  opacity: 0.5;
}

.join {
  border-left: 2px solid #e1e1e1;
  padding: 10px;
}

.home {
  height: 980px;
  background: url("img/background.png") center no-repeat;
  background-size: 100% auto;
  background-color: aliceblue;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.text img {
  width: 522px;
  height: 140px;
}

.text_ment {
  margin-top: 30px;
}

.more_btn {
  background-color: #a384ff;
  width: 120px;
  height: 40px;
  border-radius: 21.5px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
