body,
html {
  cursor: url(img/target.png), auto;
  width: 100%;
  height: 100%;
}

.box {
  background-color: black;
  width: 100%;
  height: 100%;
}

#pixel {
  color: white;
  width: 100px;
  position: absolute;
}

.line {
  background-color: white;
  position: absolute;
}

#horo {
  width: 100%;
  height: 1px;
  top: 50%;
}

#verti {
  width: 1px;
  height: 100%;
  left: 50%;
}
