body {
  text-align: center;
  background-color: black;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 20%;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  background: url(img/background.png) center/cover no-repeat;
}

header {
  text-align: center;
  padding: 8px;
}

.game__factor {
  margin-bottom: 100px;
}

.game__button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 4px solid black;
  transition: transfrom 300ms ease-in;
}

.btn--hide {
  display: none;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 8px;
  padding: 0 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 32px;
  border: 5px solid black;
}

.game__score {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 46px;
  margin-top: 4px;
  background-color: darksalmon;
  color: white;
  border-radius: 50%;
  border: 3px solid black;
}

.level--hide {
  display: none;
}

.levelControl {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 32px;
  width: 800px;
  height: 500px;
}

.game__level span {
  margin: 10px;
  background-color: white;
  width: 100px;
  height: 40px;
  border: 4px solid black;
  border-radius: 20px;
}

.game__level span:hover {
  transform: scale(1.1);
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  border-radius: 20px;
  width: 400px;
  height: 124px;
  margin: auto;
  background-color: #00000090;
  color: white;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  transition: transfrom 300ms ease-in;
}

.pop-up__refresh:hover {
  transform: scale(1.1);
}

.pop-up__message {
  display: block;
  font-size: 38px;
}

.hide {
  display: none;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
